<section class="card">
  <div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide card-swiper-slide">
          <img class="card-swiper-slide" src="./images/cards/card1.webp" />
        </div>
        <!--         <div class="swiper-slide">
          <img src="./images/cards/card2.webp" />
        </div>
        <div class="swiper-slide">
          <img src="./images/cards/card3.webp" />
        </div>
        <div class="swiper-slide">
          <img src="./images/cards/card4.webp" />
        </div>
        <div class="swiper-slide">
          <img src="./images/cards/card5.webp" />
        </div> -->
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
  </div>
  <div class="card__text">
    <h3 class="card__text-title">
      Облачный кондиционер Daichi Alpha A20AVQR3_1Y/A20FVR3_1Y + 1 год подписки
    </h3>
    <button class="button-like">
      <img src="./images/like.svg" height="20px" width="20px" />
      <p>В избранное</p>
    </button>
    <div class="description">
      <table class="tab">
        <thead>
          <tr>
            <th>Характеристики</th>
          </tr>
        </thead>
        <tbody class="tab__body">
          <tr>
            <td class="parameter">Бренд</td>
            <td>DAIKIN</td>
          </tr>
          <tr>
            <td class="parameter">Серия</td>
            <td>Sensira</td>
          </tr>
          <tr>
            <td class="parameter">Инверторные</td>
            <td>Да</td>
          </tr>
          <tr>
            <td class="parameter">Потребляемая мощность, охлаждение, кВт</td>
            <td>1,5~1,27~0,31</td>
          </tr>
          <tr>
            <td class="parameter">Класс энергоэффективности, охлаждение</td>
            <td>A</td>
          </tr>
          <tr>
            <td class="parameter">Холодопроизводительность, кВт, макс.</td>
            <td>4,3</td>
          </tr>
          <tr>
            <td class="parameter">Теплопроизводительность, кВт, макс.</td>
            <td>5</td>
          </tr>
          <tr>
            <td class="parameter">Гарантия</td>
            <td>3 года</td>
          </tr>
        </tbody>
      </table>
      <div class="buttons">
        <button class="button-price">13 572 ₽</button>
        <button class="button-open-modal">
          <img src="./images/hands.svg" />
          <div class="low-price">
            <span>Нашли дешевле?</span>
            <span>Сообщите нам и мы снизим цену!</span>
          </div>
          <img src="./images/arrow.webp" />
        </button>
      </div>
    </div>

    <div class="drop">
      <div class="drop__title">
        <h3>Можно ли простудиться от кондиционера? И как этого избежать?</h3>
        <img src="./images/arrow.webp" />
      </div>
      <div class="drop__text">
        <span
          >Простудиться при пользовании кондиционером действительно можно, но
          этого легко избежать, если следовать простым правилам эксплуатации
          кондиционера.
        </span>
        <span
          >Во-первых, не нужно направлять воздушный поток на человека – с
          помощью управления горизонтальными и вертикальными жалюзи, а также
          правильного выбора первоначальной установки кондиционера.
        </span>
        <span
          >Во-вторых, разница температур внутри охлаждаемого помещения и снаружи
          не должна превышать 10 градусов, в идеале 5-7 градусов.
        </span>
        <span
          >В-третьих, надо понимать, что любой кондиционер осушает воздух, а
          низкая влажность воздуха в помещении – это потенциальная опасность
          заболевания для человеческого организма. Здесь на помощь приходят
          увлажнители воздуха.
        </span>
        <span
          >И последнее, что хотелось бы отметить, нерегулярное техобслуживание
          кондиционера приводит к распространению вредоносных бактерий,
          появлению плесени, загрязнению фильтров – осуществляйте чистку как
          внутреннего, так и наружного блоков сплит-системы хотя бы раз в
          год.</span
        >
      </div>
    </div>
  </div>
</section>
